[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
"discord.py" = "*"
python-dotenv = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
certifi = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"

[scripts]
dev = "watchmedo auto-restart -d . -p '*.py' -- python src/ph8.py"
